{{#fillSection "metaDescription"}}This is an example login page for your application experience.{{/fillSection}}
<div class="container mt-4">
  <div class="row">
    <div class="col-xs-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
      <div class="card bg-light mb-3">
        <div class="card-body row">
          <div class="col-sm-4 d-flex justify-content-center">
            <img src="{{pageData.picture}}" style="border-radius: 50%; box-shadow: 0px 0px 5px 0px #0000ff7a;"></img>
          </div>
          <div class="col align-self-center d-flex flex-column align-items-center">
            <p class="card-text h5">
              {{pageData.name}}
            </p>
            <p class="card-text" style="color: grey;">
              {{pageData.email}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>